<div id="footer">
    <div id="copyright">
        <p>Copyright © 2016. vmloft. Inc. All rights reserved.</p>
    </div>
</div>


<!--引入页面需要的脚本文件-->
<script src="/javascripts/jquery-3.1.0.js"></script>

<script src="/javascripts/ml-app.js"></script>
<script src="/javascripts/canvas-bg.js"></script>
<script type="text/javascript">
    // 用window.onload调用 js 文件里的方法，不需要括号
    window.onload = canvasDrawBackground3;
</script>
</body>
</html>