<!--引入头部布局文件-->
<%- include header.ejs %>

<div id="center">
    <div id="content">
        <div id="content-top">

            <div class="dialog">

            </div>

        </div>
        <div id="content-1">

        </div>
        <div id="content-2">

        </div>
        <div id="content-3">

        </div>
        <div id="content-4">

        </div>
    </div>
</div>

<%- include footer.ejs %>
